body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #e0f7fa; 
    color: #01579b; 
}

#reloj, #cronometro {
    font-size: 2em;
    margin-bottom: 20px;
    color: #0277bd; 
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0277bd; 
}

#resultado {
    font-size: 1.2em;
    color: #01579b; 
    margin-top: 20px;
}